include template

h3 Conversations (db)

table(border="1")
  tr
    th _id
    th receiverId
    th receiverPhone
    th conversationId
    th sourceExternalId
    th channelCode
    th action
  each conversation in conversations
    tr 
      td= conversation._id
      td= conversation.receiverId
      td= conversation.receiverPhone
      td= conversation.conversationId
      td= conversation.sourceExternalId
      td= conversation.channelCode
      td 
        a(href="/conversations/delete/" + conversation._id) del
