include template

h3 Conversations

table(border="1")
  tr
    th _id
    th contactId
    th contactPhone
    th conversationId
    th sourceExternalId
    th channelCode
  each conversation in conversations
    tr 
      td= conversation._id
      td= conversation.contactId
      td= conversation.contactPhone
      td= conversation.conversationId
      td= conversation.sourceExternalId
      td= conversation.channelCode
